@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*OPERATION*/
.operationListButton:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.operationListButton:hover i {
  color: #9356dc;
}

/*Restaurant*/
.restaurantItem:hover {
  -ms-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

/*HEADER*/
.header {
  position: relative;
}
.headerArrow {
  position: absolute;
  float: left;
  top: 40px;
  left: 60px;
  scale: 2;
  color: #353535;
}

/*restaurant*/
.restaurantImg {
  object-fit: cover;
  max-width: 560px;
}

/*menu*/
.menu {
  background-color: #f6f6f6;
  border-radius: 35px 35px 0px 0px;
}
.menuName {
  padding: 1em;
  font-size: 34px;
}
.menuTitle {
  text-transform: uppercase;
  border-bottom: 5px solid #99e2d0;
  width: 60px;
  margin-left: 1em;
  font-size: 20px;
  font-weight: 100;
}
.menuPlat {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 16px #0000002e;
  margin: 1em;
}
.menuPlatTitle {
  padding: 0.5em 0em 0em 0.5em;
  margin: 2px 0px;
}
.menuPlatText {
  margin-left: 10px;
  margin-top: 5px;
}
.menuPlatPrix {
  color: gray;
  position: absolute;
  bottom: 13px;
  right: 30px;
  font-size: 20px;
  font-weight: bold;
}

.purchase {
  width: 250px;
}

body {
  font-family: "Roboto", sans-serif;
  margin: auto;
}

h1,
h3 {
  font-family: "shrikhand";
}

a {
  text-decoration: none;
  color: inherit;
}

/*@media screen and (max-width: 618px) { */
/*HEADER*/
.header {
  text-align: center;
}
.headerLogo {
  margin: 2em 0em;
}

/*SECTION RESERVE*/
.reserve {
  text-align: center;
  background-color: #f6f6f6;
}

.reserveLocation {
  background-color: #eaeaea;
  padding: 0.5em;
}
.reserveLocationText {
  color: #353535;
  margin-right: 1em;
}
.reserveLocation i {
  margin-right: 1em;
}

.reserveText {
  padding: 2em;
}
.reserveTextTitle {
  font-size: 28px;
}
.reserveTextText {
  color: #4d4d4d;
  font-weight: 100;
  font-size: 20px;
}
.reserveTextButton, .purchase {
  background-color: #ff79da;
  color: white;
  border: none;
  border-radius: 35px;
  padding: 1em;
  font-size: 20px;
  box-shadow: 0 0 16px #09090945;
  cursor: pointer;
  margin: 2em;
}

/*OPERATION*/
.operationTitle {
  margin-left: 1em;
}
.operationList {
  max-width: 300px;
  margin: auto;
}
.operationListButton {
  padding: 1em;
  font-size: 20px;
  box-shadow: 0 0 16px #09090945;
  background-color: #f6f6f6;
  text-align: center;
  border-radius: 20px;
  margin: 1em auto 1em;
}
.operationListButtonText {
  font-weight: bold;
  font-size: 18px;
}
.operationListButton i {
  color: gray;
  float: left;
}

/*RESTAURANT*/
.restaurant {
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.restaurantTitle {
  flex-basis: 100%;
  margin-left: 1em;
}
.restaurantItem {
  position: relative;
  display: flex;
  background-color: white;
  text-align: left;
  border-radius: 20px;
  box-shadow: 0 0 16px #0000002e;
  margin: 1em 1em 2em 1em;
  transition-duration: 0.1s;
  flex-direction: column;
  width: 400px;
}
.restaurantItemImg {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 15em;
  max-height: 100%;
  border-radius: 20px 20px 0px 0px;
}
.restaurantItemInfo {
  margin-left: 10px;
}
.restaurantItemInfoTitle {
  margin-bottom: 10px;
}
.restaurantItemInfoText {
  margin-top: 0px;
  font-weight: 100;
  font-size: 18px;
}
.restaurantItemInfoNew {
  position: absolute;
  top: 10px;
  right: 25px;
  background-color: #99e2d0;
  color: #008766;
  padding: 10px 22px;
  border-radius: 5px;
}
.restaurantItemInfoIcon, .restaurantItemInfoIconHidden {
  position: absolute;
  bottom: 3.6em;
  right: 40px;
  scale: 2;
  display: block;
}
/*FOOTER*/
.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
}
.footerTitle {
  color: white;
  margin: 1rem;
}
.footerLink {
  color: white;
  text-decoration: none;
  margin: 5px 1em;
}
.footer i {
  margin-right: 10px;
  width: 14px;
}

/*# sourceMappingURL=style.css.map */
