/*PRELOADER*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes go_up {
  0% {
    top: 0;
  }
  80% {
    top: 0;
  }
  100% {
    animation-timing-function: ease-out;
    top: -100%;
    display: none;
  }
}
/*HEADER*/

/*SECTION RESERVE*/

/*OPERATION*/

/*Restaurant*/

/*ANIM COEUR */

.restaurantItemInfoIcon,
.menuNameIcons {
  &:hover {
    .heartEmpty {
      opacity: 0;
    }
    .heartFull {
      opacity: 1;
    }
  }
}
/*MENU*/

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
    transform: translateY(-10px);
  }
}
.load1 {
  animation-delay: 200ms;
}
.load2 {
  animation-delay: 400ms;
}
.load3 {
  animation-delay: 600ms;
}

/**/
