/*PRELOADER*/
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes go_up {
  0% {
    top: 0;
  }
  50% {
    top: 0;
  }
  100% {
    animation-timing-function: ease-out;
    top: -100%;
    display: none;
  }
}

/*HEADER*/

/*SECTION RESERVE*/

/*OPERATION*/

/*Restaurant*/

/*ANIM COEUR */

.restaurantItemInfoIcon,
.menuNameIcons {
  &:hover {
    .heartEmpty {
      opacity: 0;
    }
    .heartFull {
      opacity: 1;
    }
  }
}
/*MENU*/

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(-10px);
  }
}
.load1 {
  animation-delay: 200ms;
}
.load2 {
  animation-delay: 400ms;
}
.load3 {
  animation-delay: 600ms;
}
.load4 {
  animation-delay: 800ms;
}

.menuPlat:hover .menuPlatAnimation i {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.menuPlat:hover .menuPlatAnimation {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}
.menuPlat:hover .menuPlatDescriptionPrix {
  -webkit-transform: translateX(-80%);
  -moz-transform: translateX(-80%);
  -o-transform: translateX(-80%);
  -ms-transform: translateX(-80%);
  transform: translateX(-80%);
}
.menuPlat:hover .menuPlatDescriptionText {
  width: 60%;
}
.menuPlat:hover .menuPlatTitle {
  width: 75%;
}

/**/
