/*HEADER*/

/*SECTION RESERVE*/

/*OPERATION*/

/*Restaurant*/

/*ANIM COEUR */

.restaurantItemInfoIcon {
  &:hover {
    .heartEmpty {
      opacity: 0;
    }
    .heartFull {
      opacity: 1;
    }
  }
}
/*MENU*/

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
    transform: translateY(-10px);
  }
}
.load1 {
  animation-delay: 200ms;
}
.load2 {
  animation-delay: 400ms;
}
.load3 {
  animation-delay: 600ms;
}

/**/
