@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$grey-background: #f6f6f6;
@import "animation.scss";
@import "menu.scss";
body {
  font-family: "Roboto", sans-serif;
  margin: auto;
}
h1,
h3 {
  font-family: "shrikhand";
}
a {
  text-decoration: none;
  color: inherit;
}

/*PRELOADER*/ /*
.lds-dual-ring {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  cursor: wait;
  display: inline-block;
}
.lds-dual-ring:after {
  content: " ";

  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fcf;
  border-color: $primary transparent $secondary transparent;
  animation: preloader 1.2s linear infinite;
}
@keyframes preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}*/

/*@media screen and (max-width: 618px) { */
/*HEADER*/
.header {
  text-align: center;
  &Logo {
    margin: 2em 0em;
  }
}
/*SECTION RESERVE*/
.reserve {
  text-align: center;
  background-color: $grey-background;
}
.reserveLocation {
  background-color: #eaeaea;
  padding: 0.5em;
  &Text {
    color: #353535;
    margin-right: 1em;
  }
  i {
    margin-right: 1em;
  }
}
.reserveText {
  padding: 2em;
  &Title {
    font-size: 28px;
  }
  &Text {
    color: #4d4d4d;
    font-weight: 100;
    font-size: 20px;
  }
  &Button {
    background: rgb(212, 102, 199);
    background: linear-gradient(
      174deg,
      rgba(212, 102, 199, 1) 37%,
      rgba(159, 90, 220, 1) 100%
    );
    color: white;
    border: none;
    border-radius: 35px;
    padding: 1em;
    font-size: 20px;
    box-shadow: 0 0 16px #09090945;
    cursor: pointer;
    margin: 2em auto 2em auto;
  }
}

/*OPERATION*/
.operation {
  &Title {
    margin-left: 1em;
  }
  &List {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 1em 0em 2em 0em;
    &Button {
      position: relative;
      display: flex;
      align-items: center;
      width: 80%;
      padding: 1em;
      font-size: 20px;
      box-shadow: 0 0 16px #09090945;
      background-color: $grey-background;
      text-align: center;
      border-radius: 20px;
      margin: 1em auto 1em;
      &Number {
        background-color: $primary;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        color: white;
        margin-left: -30px;
        margin-right: 15px;
      }
      &Text {
        font-weight: bold;
        font-size: 18px;
      }
      i {
        color: gray;
        margin-right: 30px;
        width: 30px;
      }
    }
  }
}

/*RESTAURANT*/
.restaurant {
  background-color: $grey-background;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  &Title {
    flex-basis: 100%;
    margin-left: 1em;
  }
  &Item {
    position: relative;
    display: flex;
    background-color: white;
    text-align: left;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    margin: 1em 1em 2em 1em;
    transition-duration: 0.1s;
    flex-direction: column;
    width: 400px;
    &Img {
      object-fit: cover;
      max-width: 100%;
      width: 100%;
      height: 15em;
      max-height: 100%;
      border-radius: 20px 20px 0px 0px;
    }
    &Info {
      margin-left: 10px;
      &Title {
        margin-bottom: 10px;
      }
      &Text {
        margin-top: 0px;
        font-weight: 100;
        font-size: 18px;
      }
      &New {
        position: absolute;
        top: 10px;
        right: 25px;
        background-color: $tertiary;
        color: #008766;
        padding: 10px 22px;
        border-radius: 5px;
      }
      &Icon {
        position: absolute;
        bottom: 3.6em;
        right: 40px;
        scale: 2;
        display: block;
        &Hidden {
          @extend .restaurantItemInfoIcon;
        }
      }
    }
  }
}
/*FOOTER*/

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  &Title {
    color: white;
    margin: 1rem;
  }
  &Link {
    color: white;
    text-decoration: none;
    margin: 5px 1em;
  }
  i {
    margin-right: 10px;
    width: 14px;
  }
}
