@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$grey-background: #f6f6f6;
@import "animation.scss";
@import "menu.scss";
body {
  font-family: "Roboto", sans-serif;
  margin: auto;
}
h1,
h3 {
  font-family: "shrikhand";
}
a {
  text-decoration: none;
  color: inherit;
}

/*PRELOADER*/

.loader {
  animation: go_up 3s;
  animation-fill-mode: none;
  animation-fill-mode: forwards;
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
}
.loader_spinner {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid $primary;
  border-bottom: 16px solid $secondary;
  margin: auto;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/*@media screen and (max-width: 618px) { */
/*HEADER*/
.header {
  text-align: center;
  &Logo {
    margin: 2em 0em;
  }
}
/*SECTION RESERVE*/
.reserve {
  text-align: center;
  background-color: $grey-background;
}
.reserveLocation {
  background-color: #eaeaea;
  padding: 0.5em;
  &Text {
    color: #353535;
    margin-right: 1em;
  }
  i {
    margin-right: 1em;
  }
}
.reserveText {
  padding: 2em;
  &Title {
    font-size: 28px;
  }
  &Text {
    color: #4d4d4d;
    font-weight: 100;
    font-size: 20px;
  }
  &Button {
    background: rgb(212, 102, 199);
    background: linear-gradient(
      174deg,
      rgba(212, 102, 199, 1) 37%,
      rgba(159, 90, 220, 1) 100%
    );
    color: white;
    border: none;
    border-radius: 35px;
    padding: 1em;
    font-size: 20px;
    box-shadow: 0 0 16px #09090945;
    cursor: pointer;
    margin: 2em auto 2em auto;
    &:hover {
      filter: brightness(1.1);
      box-shadow: 0 0 16px #0909096b;
    }
  }
}

/*OPERATION*/
.operation {
  &Title {
    margin-left: 1em;
  }
  &List {
    display: flex;
    margin: auto;
    padding: 1em 0em 2em 0em;

    &Button {
      position: relative;
      display: flex;
      align-items: center;
      /* width: 80%; */
      width: 350px;

      padding: 1em;
      font-size: 20px;
      box-shadow: 0 0 16px #09090945;
      background-color: $grey-background;
      text-align: center;
      border-radius: 20px;
      margin: 1em auto 1em;
      &:hover {
        background-color: rgba(147, 86, 220, 0.1);
        & i {
          color: $primary;
        }
      }
      &Number {
        background-color: $primary;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        color: white;
        margin-left: -30px;
        margin-right: 15px;
      }
      &Text {
        font-weight: bold;
        font-size: 18px;
      }
      i {
        color: gray;
        margin-right: 30px;
        width: 30px;
      }
    }
  }
}

/*RESTAURANT*/
.restaurant {
  background-color: $grey-background;

  &Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &Title {
    flex-basis: 100%;
    margin-left: 1em;
    padding-top: 1em;
  }
  &Item {
    position: relative;
    display: flex;
    background-color: white;
    text-align: left;
    border-radius: 20px;
    box-shadow: 0 0 16px #0000002e;
    margin: 1em 1em 2em 1em;
    transition-duration: 0.1s;
    flex-direction: column;
    width: 400px;
    &:hover {
      -ms-transform: scale(1.02);
      -webkit-transform: scale(1.02);
      transform: scale(1.02);
    }
    &Img {
      object-fit: cover;
      max-width: 100%;
      width: 100%;
      height: 15em;
      max-height: 100%;
      border-radius: 20px 20px 0px 0px;
    }
    &Info {
      margin-left: 10px;
      &Title {
        margin-bottom: 10px;
      }
      &Text {
        margin-top: 0px;
        font-weight: 100;
        font-size: 18px;
      }
      &Icon {
        & i {
          position: absolute;
          font-size: 2em;
          bottom: 1.6em;
          right: 40px;
          -webkit-transition: opacity 0.4s;
        }
      }
      &New {
        position: absolute;
        top: 10px;
        right: 25px;
        background-color: $tertiary;
        color: #008766;
        padding: 10px 22px;
        border-radius: 5px;
      }
    }
  }
}

.heartFull {
  background: linear-gradient(180deg, $primary 0%, $secondary 100%);
  background-clip: border-box;
  font-variant: normal;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

/*FOOTER*/

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  &Title {
    color: white;
    margin: 1rem;
  }
  &Link {
    color: white;
    text-decoration: none;
    margin: 5px 1em;
  }
  i {
    margin-right: 10px;
    width: 14px;
  }
}

/* RESPONSIV */

@media screen and (max-width: 1250px) {
  .operation {
    &List {
      flex-direction: column;
      &Button {
        width: 80%;
      }
    }
  }
}
@media screen and (max-width: 864px) {
  .operation {
    &List {
      flex-direction: column;
    }
  }

  .restaurant {
    &Container {
      flex-direction: column;
    }
    &Item {
      width: 95%;
      margin: 1em auto 2em auto;
    }
  }
}
